my-env/*
*.json
datadb/*
data-db2/*
data-db/*
db-data/*
__pycache__/*
elasticsearch/__pycache__/*
mysql/__pycache__/*
airflow/dags/__pycache__/*
mongoDB/__pycache__/*
es-data/*
docker-compose2.yml
data/*
*.log
airflow/logs/*
